<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/icons/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="">
        ToDo
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link"
                href="https://blog.bitsrc.io/15-app-ideas-to-build-and-level-up-your-coding-skills-28612c72a3b1"
                target="_blank">Project Docs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://ngrx.io/docs" target="_blank">NgRx Docs</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <todo-new></todo-new>
            <todo-table *ngIf="todos?.length > 0"></todo-table>
            <todo-card *ngIf="selectedTodo" [todo]="selectedTodo"></todo-card>
        </div>
        <div class="col"></div>
    </div>
</div>