<!-- <nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/icons/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="">
        ToDo
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link"
                href="https://blog.bitsrc.io/15-app-ideas-to-build-and-level-up-your-coding-skills-28612c72a3b1"
                target="_blank">Project Docs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://ngrx.io/docs" target="_blank">NgRx Docs</a>
        </li>
    </ul>
</nav> -->

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <div *ngIf="todoError" class="alert alert-danger" style="margin-top: 20px;" role="alert">
                {{todoError?.message}}
            </div>
            <todo></todo>
            <!-- <todo-card *ngIf="selectedTodo" [todo]="selectedTodo"></todo-card> -->
        </div>
        <div class="col"></div>
    </div>
</div>